body {
  background: #0e0e0e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}

h1 {
  font-size: 40px;
}

p {
  opacity: 0.8;
}

.buttons a {
  display: inline-block;
  margin: 15px;
  padding: 15px 25px;
  background: #1f1f1f;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.2s;
}

.buttons a:hover {
  background: #333;
}
